.header{
    background-color: #dadce0;
    padding: 20px;
    text-align: center;

    
}
.ooga{
    font-family: 'Open Sans', sans-serif;
}
.booga{
    font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}
.container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
}
.notes{
    order: 1;
    background-color: #dadce0;
    width: 49%;
    height: 400px;
    margin-right: 1%;
    text-align: center;
}
.docs{
    margin-left: 1%;
    order: 2;
    background-color: #dadce0;
    width: 49%;
    height: 400px;
    text-align: center;
}
.tynh{
    height:300px;
    width: 90%;
    text-align: left;
}
.file-upload{
    text-align: center;
}
.sobmit{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.subthis{
    height: 50px;
    width: 200px;
}
.text1{
    font-size: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.title{
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
.upnotes{
    color: white;
}
body{
    background-image: linear-gradient(to right, #667eea, #764ba2);
}